<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Успешно</title>
    <link rel="stylesheet" href="/static/css/success.css">
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
</head>
<body>
<div>
    <i class="material-icons" style="
      font-size: 140px;
      color: rgba(141,38,38,0.42);
      margin-bottom: 20px;
      ">done</i>
    <a href="{% url 'loginApp:index' %}">Вернуться</a>
</div>
</body>
</html>